* {
    margin: 0;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calculator {
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.2px;
    width: max-content;
    margin-top: 100px;
    padding: 5px;
    border: 3px solid black;
}

.display {
    background-color: rgb(194, 191, 191);
    border: 4px solid black;
    font-size: 40px;
    font-weight: bold;
    box-sizing: border-box;
    width: 273px;
    display: flex;
    padding-right: 5px;
    justify-content: flex-end;
}

.numbers {
    display: flex;
    flex-direction: column;
}

.numbers .set div {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    width: 65px;
    height: 40px;
    font-size: 20px;
    margin: 2px;
    border: 3px solid black;
    background-color: aquamarine;
}


.set {
    display: flex;
    justify-content: space-evenly;
}

#num-0 {
    box-sizing: border-box;
    width: 135px;
}

#ac, #modulo, #sign {
    background-color: aqua;
}

.calculator .numbers .set .operator {
    background-color: skyblue;
}

